.svn
.hg
build_output
code_drop
packages
[Bb]in
obj

*.suo
*.sln.docstates
*.user 
*.csproj.user
*.[rR]esharper.user
*.DotSettings.user
*.resharper
_ReSharper*
*.cache
*~
*.swp
*.bak
*.orig
*.log
*.pidb
*userprefs
*.nupkg
 
TestResult.xml
submit.xml
SolutionVersion.cs
SolutionVersion.vb

.DS_Store
*.db
src/_dotCover*/
src/_dotTrace*/
src/*.sln.GhostDoc.xml
