.svn
.hg
build_output
code_drop
packages
bin
obj
_ReSharper*

*.suo
*.sln.docstates
*.user 
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.cache
*~
*.swp
*.bak
*.orig
*.log
*.pidb
*userprefs
 
TestResult.xml
submit.xml
SolutionVersion.cs
SolutionVersion.vb
